#student {
  margin-top: 0;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
}

.card-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 2rem 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.card-content div h5,
h4 {
  margin-top: 0;
}

.card-content span {
  color: #777;
  padding: 0 1.5rem;
  font-size: 3rem;
}

.card-content h5 {
  color: grey;
  font-size: 1.5rem;
}

.card-content h4 {
  color: black;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.list {
  margin: 3rem 0;
}

.list-action {
  /* margin-bottom: 1rem; */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-action-right {
  display: flex;
  align-items: center;
}
.table-grid {
  background: #fff;
  border-radius: 10px;
}

.table-grid h3 {
  color: grey;
  padding: 1rem;
}

.table-responsive {
  overflow-x: auto;
}

#table-id {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}
#table-id thead {
  background: #efefef;
  text-align: left;
}

#table-id th,
td {
  padding: 1.2rem 1rem;
  color: black;
}

#table-id tbody tr:nth-child(even) {
  background: #f9fafc;
}

.search-input {
  height: 30px;
  padding: 0 5px 0 19px;
  border: 1px solid #e1e1e1;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}
.search-btn {
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #f26f21;
  color: #fff;
  text-align: center;
  padding-top: 8px;
}
.search-input:focus {
  border: 1px solid #000000;
  border-right: 0;
}
.container-fluid {
}
.my-carsousel {
}
.my-carsousel img {
  width: 100%;
  max-width: 100%;
  height: 700px;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .sideBar {
    width: 60px;
    z-index: 150;
  }
  .sideBar .top-sideBar h3,
  .sideBar .sideBar-profile span,
  .sideBar li span:last-child {
    display: none;
  }
  .sideBar .top-sideBar,
  .sideBar li,
  img {
    display: flex;
    justify-content: center;
  }
  .main-content {
    margin-left: 60px;
  }
  .main-content header,
  .main-content footer {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sideBar {
    width: 240px;
  }
  #sidebar-toggle:checked ~ .sideBar .top-sideBar h3,
  #sidebar-toggle:checked ~ .sideBar .sideBar-profile img,
  #sidebar-toggle:checked ~ .sideBar li span:last-child {
    display: inline;
  }
  #sidebar-toggle:checked ~ .sideBar .top-sideBar {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sideBar li,
  img {
    display: block;
  }
  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }
  #sidebar-toggle:checked ~ .main-content header,
  #sidebar-toggle:checked ~ .main-content footer {
    left: 60px;
  }
}

@media only screen and (max-width: 860px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-item {
    margin-bottom: 1rem;
  }
  .list-action {
    display: none;
  }
  .table-grid {
    display: block;
  }
  .my-carsousel img {
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem 0.5rem;
  }
  .card-list {
    grid-template-columns: 100%;
  }
  .list-action {
    display: none;
  }
  .left-content h2:first-child {
    display: none;
  }
  .left-content h2:last-child::after {
    content: "CPM";
  }
  .my-carsousel img {
  }
}

footer {
  position: fixed;
  left: 240px;
  bottom: 0;
  z-index: 100;
  width: calc(100% - 240px);
  height: 170px;
  padding: 0rem 3rem;
  border-bottom: 1px solid #ccc;
  transition: left 500ms;
  background-color: #fff;
}
footer img {
  padding-top: 20px;
  object-fit: cover;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.link {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.link ul > li:first-child {
  font-size: 1.5rem;
  padding-bottom: 15px;
  color: goldenrod;
}
.link ul > li {
}
