#update-profile-btn {
  margin-bottom: 2rem;
}

button {
  padding: 10px 12px;

  color: #fff;
  background: var(--background-nav);

  outline: none;
  border: 0;
  border-radius: 10px;

  cursor: pointer;
}

.profile-content {
  display: flex;
  align-items: center;

  margin: 0 2rem;

  border-radius: 0.5rem;
  background-color: #fff;
}

.profile-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 1rem 2rem;
}

.profile-list li {
  min-height: 60px;
}

.profile-list li {
  margin-top: 1rem;
}

#profile-2 .profile-list li {
  margin-top: calc(1rem - 5px);
}

@media only screen and (max-width: 1200px) {
  .sideBar {
    width: 60px;
    z-index: 150;
  }

  .sideBar .top-sideBar h3,
  .sideBar .sideBar-profile span,
  .sideBar li span:last-child {
    display: none;
  }

  .sideBar .top-sideBar,
  .sideBar li,
  img {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sideBar {
    width: 240px;
  }

  #sidebar-toggle:checked ~ .sideBar .top-sideBar h3,
  #sidebar-toggle:checked ~ .sideBar .sideBar-profile img,
  #sidebar-toggle:checked ~ .sideBar li span:last-child {
    display: inline;
  }

  #sidebar-toggle:checked ~ .sideBar .top-sideBar {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sideBar li,
  img {
    display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}

@media only screen and (max-width: 860px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-item {
    margin-bottom: 1rem;
  }

  .list-action {
    display: none;
  }

  .table-grid {
    display: block;
  }

  .profile-content {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem 0.5rem;
  }

  .card-list {
    grid-template-columns: 100%;
  }

  .list-action,
  .left-content h2:first-child {
    display: none;
  }

  .left-content h2:last-child::after {
    content: "CPM";
  }

  .profile-content {
    margin: 0;
  }
}

.container > a {
  display: inline-block;

  padding: 1rem 1rem;
  margin-bottom: 1.5rem;

  background: var(--background-nav);
  color: white;

  border-radius: 10px;
}

.profile-list input {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.profile-list input:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--background-nav);
}

.profile-list input:focus::placeholder {
  visibility: hidden;
}

/* error modal */
#error-modal {
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}
#error-modal .modal-content {
  position: relative;

  margin: 10% 35%;
  padding: 30px;

  outline: none;
  border-radius: 10px;
  border: 1px solid #888;

  background-color: #fefefe;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}
/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #aaa;

  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}
