#update-profile-btn {
  margin-bottom: 2rem;
}
#submit-profile-btn {
  /* display: none; */
}
button {
  background: var(--background-nav);
  outline: none;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 10px 12px;
  cursor: pointer;
}
.profile-content {
  background-color: #fff;
  margin: 0 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.profile-list {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* min-width: 20%; */
}

.profile-list li {
  min-height: 60px;
}

.profile-list li {
  margin-top: 1rem;
}

#profile-2 .profile-list:first-child li {
  /* padding-top: 5px; */
}
#profile-2 .profile-list li {
  margin-top: calc(1rem - 5px);
}
@media only screen and (max-width: 1200px) {
  .sideBar {
    width: 60px;
    z-index: 150;
  }
  .sideBar .top-sideBar h3,
  .sideBar .sideBar-profile span,
  .sideBar li span:last-child {
    display: none;
  }
  .sideBar .top-sideBar,
  .sideBar li,
  img {
    display: flex;
    justify-content: center;
  }
  .main-content {
    margin-left: 60px;
  }
  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sideBar {
    width: 240px;
  }
  #sidebar-toggle:checked ~ .sideBar .top-sideBar h3,
  #sidebar-toggle:checked ~ .sideBar .sideBar-profile img,
  #sidebar-toggle:checked ~ .sideBar li span:last-child {
    display: inline;
  }
  #sidebar-toggle:checked ~ .sideBar .top-sideBar {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sideBar li,
  img {
    display: block;
  }
  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }
  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}

@media only screen and (max-width: 860px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-item {
    margin-bottom: 1rem;
  }
  .list-action {
    display: none;
  }
  .table-grid {
    display: block;
  }
  .profile-content {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem 0.5rem;
  }

  .card-list {
    grid-template-columns: 100%;
  }
  .list-action {
    display: none;
  }
  .left-content h2:first-child {
    display: none;
  }
  .left-content h2:last-child::after {
    content: "CPM";
  }
  .profile-content {
    margin: 0;
  }
}

.container > a {
  display: inline-block;
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
  background: var(--background-nav);
  color: white;
  border-radius: 10px;
}

.profile-list input {
  border: 0;
  border-bottom: 1px solid #ccc;
}
.profile-list input:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--background-nav);
}
.profile-list input:focus::placeholder {
  visibility: hidden;
}