#student {
  margin-top: 0;
}

.list {
  margin: 1rem 0;
}

.list-action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}
.list-action-left {
  display: flex;
}
.list-action-left label {
  display: inline-block;

  padding: 10px 12px;
  border-radius: 1rem;

  background-color: var(--background-nav);
  color: var(--text-white);
  cursor: pointer;
}

.list-action-left input {
  display: none;
}

.list-action-left form:not(:first-child) {
  margin-left: 1rem;
}

.list-action-right {
  display: flex;
  align-items: center;
}

.table-grid {
  background: #fff;
  border-radius: 10px;
}

.table-grid h3 {
  display: inline-block;
  padding: 1rem;
  color: grey;
}

#view-mode,
#edit-mode {
  display: inline-block;
  padding: 1rem;
  color: grey;
  font-size: 1rem;
}

.table-action {
  display: flex;
  align-items: center;
}

.table-action > div {
  margin-left: auto;
  margin-right: 3rem;
}

.table-action label {
  display: none;
}

#edit-btn,
#create-btn {
  display: none;
}

.table-responsive {
  overflow-x: auto;
}

#table-id {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}
#table-id thead {
  background: #efefef;
  text-align: left;
}

#table-id th,
td {
  padding: 1.2rem 1rem;
  color: black;
}

#table-id tbody tr:nth-child(even) {
  background: #f9fafc;
}

.search-input {
  height: 30px;
  padding: 0 5px 0 19px;

  border: 1px solid #e1e1e1;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}
.search-btn {
  height: 30px;
  width: 30px;
  padding-top: 8px;

  border: 0;
  border-radius: 0 5px 5px 0;

  background: #f26f21;
  color: #fff;
  text-align: center;
}

.search-input:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--background-nav);
  border-right: 0;
  border-radius: 0;
}

.search-input:focus::placeholder {
  visibility: hidden;
}

.select1 {
  padding: 5px;
  padding-right: 60px;
  margin: 0;
  margin-bottom: 5px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--background-nav);
  background-color: #ffffff;
}

form#filterForm {
  text-align: end;
  padding: 0 28px;
}

@media only screen and (max-width: 1200px) {
  .sideBar {
    width: 60px;
    z-index: 150;
  }

  .sideBar .top-sideBar h3,
  .sideBar .sideBar-profile span,
  .sideBar li span:last-child {
    display: none;
  }

  .sideBar .top-sideBar,
  .sideBar li,
  img {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sideBar {
    width: 240px;
  }

  #sidebar-toggle:checked ~ .sideBar .top-sideBar h3,
  #sidebar-toggle:checked ~ .sideBar .sideBar-profile img,
  #sidebar-toggle:checked ~ .sideBar li span:last-child {
    display: inline;
  }

  #sidebar-toggle:checked ~ .sideBar .top-sideBar {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sideBar li,
  img {
    display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}

@media only screen and (max-width: 860px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-item {
    margin-bottom: 1rem;
  }

  .list-action {
    display: none;
  }

  .table-grid {
    display: block;
  }

  .hide-on-moblie {
    visibility: hidden;
  }

  form#filterForm {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem 0.5rem;
  }

  .card-list {
    grid-template-columns: 100%;
  }

  .list-action {
    display: none;
  }

  .left-content h2:first-child {
    display: none;
  }

  .left-content h2:last-child::after {
    content: "CPM";
  }

  .hide-on-moblie {
    visibility: hidden;
  }

  form#filterForm {
    display: none;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto;
  padding: 20px;

  background-color: #fefefe;
  border: 1px solid #888;
}

/* error modal */
#error-modal {
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}
#error-modal .modal-content {
  position: relative;

  margin: 10% 35%;
  padding: 30px;

  outline: none;
  border-radius: 10px;
  border: 1px solid #888;

  background-color: #fefefe;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}
/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #aaa;

  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#table-id-edit {
  width: 80%;
  overflow-x: auto;
  border-collapse: collapse;
}
#table-id-edit thead {
  background: #efefef;
  text-align: left;
}

#table-id-edit th,
td {
  padding: 1.2rem 1rem;
  color: black;
}

#table-id-edit tbody tr:nth-child(even) {
  background: #f9fafc;
}

.myBtn {
  padding: 5px 8px;

  background-color: var(--background-nav);
  color: var(--text-white);

  border: none;
  border-radius: 1rem;
}

table input {
  border: 0;
  border-bottom: 1px solid #ccc;
}

table input:focus {
  outline: none;

  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--background-nav);
}

table input:focus::placeholder {
  visibility: hidden;
}
