<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITE_MAP_LOCATION</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <context-param>
        <param-name>AUTHEN_LOCATION</param-name>
        <param-value>/WEB-INF/authen_map.properties</param-value>
    </context-param>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>filter.FilterDispatcher</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.Listener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>controller.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportStudentFileServlet</servlet-name>
        <servlet-class>controller.ExportStudentFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadLectureFileServlet</servlet-name>
        <servlet-class>controller.UploadLectureFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTopicFileServlet</servlet-name>
        <servlet-class>controller.UploadTopicFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadStudentFileServlet</servlet-name>
        <servlet-class>controller.UploadStudentFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileStudentServlet</servlet-name>
        <servlet-class>controller.UpdateProfileStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTopicServlet</servlet-name>
        <servlet-class>controller.SearchTopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLecturerServlet</servlet-name>
        <servlet-class>controller.SearchLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupServlet</servlet-name>
        <servlet-class>controller.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/LoginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportStudentFileServlet</servlet-name>
        <url-pattern>/ExportStudentFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadLectureFileServlet</servlet-name>
        <url-pattern>/UploadLectureFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadStudentFileServlet</servlet-name>
        <url-pattern>/UploadStudentFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTopicFileServlet</servlet-name>
        <url-pattern>/UploadTopicFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileStudentServlet</servlet-name>
        <url-pattern>/UpdateProfileStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTopicServlet</servlet-name>
        <url-pattern>/SearchTopicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLecturerServlet</servlet-name>
        <url-pattern>/SearchLecturerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupServlet</servlet-name>
        <url-pattern>/CreateGroupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>NguyenAnhHuy</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
